@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  width: 100%;
  height: 100%;
  margin: 1em;
  box-sizing: border-box;
  background-color:black;
}

span {
    display: inline-block;
    white-space: pre-wrap;
}

.header{
    text-align: center;
    color:white;
}

.terminal {
    background: black;
    color: white;
    width:100%;
    height: 300px;
    font-family: 'Source Code Pro', monospace;
    font-size: .9em;
    overflow: auto;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.terminal:focus{
    /* rip accessibility */
    outline: none; 
}

.terminal .input {
    height: 1em;
    min-width: 1em;
    outline-color: transparent;
    border: none;
    display: inline-block;
}

.terminal p {
    margin: 0;
    padding: 0;
}
.terminal li {
    margin: 0;
    padding: 0;
}
.terminal ul {
    margin: 0;
    padding: 0;
}
.cursor {
  font-weight: 100;
  -webkit-animation: 1s blink infinite;
  animation: 1s blink infinite;
}

@-webkit-keyframes blink {
  0%, 49% {
    background-color: black;
    color: white;
  }
  50%, 100% {
    background-color: white;
    color: black;
  }
}

@media only screen and (max-width: 960px) {
  .filler { display: none}
}